<div class="container" >
    <div class="row">
        <div class="col-mr-3 sm-9">
                <h1>Controle de Produtos</h1>
                <br/>
              
                <button [routerLink]="['/listar']" class="btn btn-outline-info">Lista de Produtos</button>
                <button [routerLink]="['/add']" class="btn btn-outline-primary" style="margin-left: 10px">Novo Produto</button>
                <button [routerLink]="['/example']" class="btn btn-outline-danger"  style="margin-left: 10px" >Photos</button>
        </div>        
    </div>
</div>
<hr/>

<router-outlet></router-outlet>