<div class="container col-md-8">
    <div class="card">
        <div class="card-header">
            <h3>Adicionar Produto</h3>  
        </div>
        <div class="card-body">
            
            <!-----{{form.valid}}
            {{form.value | json}}----->   

            <form >
                <div class="form-group">
                    <label >Produto</label>
                    <input type="text" placeholder="digite o produto..." [(ngModel)]="produto.nome" name="nome"  class="form-control">
                </div>

                <div class="form-group">
                    <label for="">Descrição</label>
                    <input type="text"   placeholder="digite a descrição do produto..." [(ngModel)]="produto.descricao" name="descricao"  class="form-control">
                 </div>

                 <div class="form-group">
                     <label for="">Preço</label>
                     <input type="text" placeholder=" digite o preço..." [(ngModel)]="produto.preco" name="preco" class="form-control">
                 </div>

                 <div class="form-group">
                    <input type="file" [(ngModel)]="produto.imagem" name="fileProduto" class="form-control">
                </div>

                 <br/>
                 <br/>

           


                    <button (click)="salvar()" class="btn btn-info">Salvar</button>
            </form>
        </div>

    </div>

</div>


